@import "tailwindcss";

@theme {
  --color-primary: #44A194;
  --color-secondary: #537D96;
  --color-accent: #EC8F8D;
  --color-background: #F4F0E4;
  --color-foreground: #171717;
  
  --font-sans: var(--font-inter);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything works as expected.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #F4F0E4;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
